.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    left: -20px;
}

.slick-next {
    right: -20px;
}

.slick-arrow button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slick-arrow button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
